/* style.css */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}

/* Carousel override */
.carousel {
  margin-bottom: 60px;
  margin-top: -10px;
}

.carousel-search {
  position: absolute;
  top: 70px;
  left: 37%;
  z-index: 15;
  width: 560px;
  padding-left: 0;
  margin-left: -60px;
  text-align: center;
  list-style: none;
}

.search-box-with-result {
  position: absolute;
  top: 85px;
  left: 37%;
  z-index: 15;
  width: 560px;
  padding-left: 0;
  margin-left: -60px;
  text-align: center;
  list-style: none;
}

/* Carousel override */
.search-box {
  height: 150px;
}

/* .item > img is still needed? */
.search-box-block > .item > img {
  position: absolute;
  top: 10px;
  left: 0;
  min-width: 100%;
  height: 150px;
}
