/* style.css */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #EEE; /* Ke */
}

.footer-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  margin-left: 260px;
  margin-right: 230px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}

/* Carousel override */
.carousel {
  margin-bottom: 60px;
  margin-top: -10px;
}

.carousel-search {
  position: absolute;
  top: 70px;
  left: 37%;
  z-index: 15;
  width: 560px;
  padding-left: 0;
  margin-left: -60px;
  text-align: center;
  list-style: none;
}

.search-box-with-result {
  position: absolute;
  top: 85px;
  left: 37%;
  z-index: 15;
  width: 560px;
  padding-left: 0;
  margin-left: -60px;
  text-align: center;
  list-style: none;
}

/* Carousel override */
.search-box {
  height: 150px;
}

/* .item > img is still needed? */
.search-box-block > .item > img {
  position: absolute;
  top: 10px;
  left: 0;
  min-width: 100%;
  height: 150px;
}

.rating {
unicode-bidi: bidi-override;
direction: rtl;
font-size: 30px;
}

.rating span.star {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
display: inline-block;
}

.rating span.star:before {
content: "\f006";
padding-right: 5px;
color: #999999;
}

.logo-font {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

/* Ke stuffs */
.step {
    font-size: 1.3em;
}
.step-number {
    width: 1.8em;
    height: 1.8em;
    font-size: 2.5em;
    border: .2em solid #999;

    font-weight: bold;
    border-radius: 50%;
    float: left;
    color: #999;
    text-align: center;
    margin-right: .5em;
}

.step .directions {
    font-size: 1em;
}

.step {
    margin: 2em 0;
}

.recipe-steps {
    border-top: .1em solid #DDD;
    border-bottom: .1em solid #DDD;
    margin-top: 2em;
    margin-bottom: 2em;
}

.recipies {
    margin-top: 2em;
}

.recipies .btn {
    font-size: 1.4em;
    font-weight: 400;
}

.total-box {
    width: 5em;
    height: 5em;
    font-size: 1.2em;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
    border-radius: 3px;
    background-color: #F6F6F6;
}

.total-box i {
    display: block;
    margin-top: .3em;
}

.cost-time {
    color: #F33;
    border-color: #A00;
}
.cost-money {
    color: #363;
    border-color: #363;
}

.profile-heading {
    font-size: 1em;
}

.profile-heading h1 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: .5em;
}
/* Ke stuffs END here */
