<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Biz Recipes</title>

	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="css/carousel.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
	<!-- link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' -->

	
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
    	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </button>
            <a class="navbar-brand" href="#">Biz Recipes</a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
		  </div><!-- container -->
        </div>

    
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
    	<!-- search input -->
		<div id="search" class="carousel-search">
			<form action="/search" method="post">
    			<div class="input-group">
            <input id="search" name="search" type="text" class="form-control" placeholder="Search Recipes" autofocus="autofocus">
		      		<span class="input-group-btn">
		        		<button class="btn btn-primary glyphicon glyphicon-search" type="submit"></button>
		      		</span>
		    	</div><!-- /input-group -->
		   	</form>
	  	</div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
      	<div class="item active">
          <img data-src="holder.js/1500x500/auto/#777:#7a7a7a/text:Trademark" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Trademark Recipe</h1>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span> 
              1250 users voted
              <p>This recipe will work you through to register your trademark.</p>
              <p><a class="btn btn-large btn-primary" href="/recipe/1">Get Now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/1500x500/auto/#777:#7a7a7a/text:LLC" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>How to Become a S-Corporation Recipe</h1>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span> 
              930 users voted
              <p>This recipe will show you how to come up with a business plan.</p>
              <p><a class="btn btn-large btn-primary" href="/recipe/2">Get Now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/1500x500/auto/#777:#7a7a7a/text:Build Your Reputation" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Create and share your recipes</h1>
              <p>Would you want to contribute your expert knowledge back to the community?</p>
              <p><a class="btn btn-large btn-primary" href="#myModal" data-toggle="modal">Create Recipe Now</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Business Owners</h2>
          <img style="width:100%" class="img-circle" src="img/biz-owner.jpeg">
          <h2>Grow Your Business</h2>
          <p>Solve your business problems today!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 pull-right">
          <h2>Experts</h2>
          <img style="width:100%" class="img-circle" src="img/experts.jpeg">
          <h2>Build Your Reputation</h2>
          <p>Write your own recipe today!</p>
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <!-- Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        Thank you for your interest. This feature is coming soon!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Intuit Labs &middot; 
        	<a href="http://security.intuit.com/privacy">Privacy</a> &middot; 
        	<a href="https://intuitlabs.com/?q=content/end-user-license-agreement">Terms</a>
        </p>
      </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/app-ui.js"></script>
    <!-- GA Tracking -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43592508-1', 'recipes4biz.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>