<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Biz Recipes</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="css/carousel.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="../static/css/carousel.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
    	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </button>
            <a class="navbar-brand" href="#">OneStop</a>
		        <form class="navbar-form pull-right">
		            <input type="text" class="form-control" placeholder="Search Recipes" autofocus="autofocus">
		            <button class="btn btn-primary glyphicon glyphicon-search" type="button"></button>
		        </form>
		        <div class="nav-collapse collapse">

		            <ul class="nav pull-right navbar-nav">
		                <li class="active"><a href="#">Home</a></li>
		                <li><a href="#about">About</a></li>
		                <li><a href="#contact">Contact</a></li>
		            </ul>
		        </div>
		    </div><!-- container -->
        </div>

    
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container recipies">
    <div class="panel">
        <div class="container profile-heading">
            <div class="pull-left">
                <h1 href="#" class="active">Trademark Recipe</h1>
                <div>by <a href="#">Submitty McLawyerton</a>, 0 views</div>
            </div>
            <div class="pull-right">
                <div class="total-box total-time cost-time">
                    <i class="icon-time icon-2x"></i>
                    <label>45 min</label>
                </div>
                <div class="total-box total-money cost-money">
                    <i class="icon-money icon-2x"></i>
                    <label>$375.00</label>
                </div>
                <!--div class="rating">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div-->
            </div>
        </div>

        <div class="recipe-steps container">
            <div class="step clearfix">
                <div class="col-1"><div class="step-number">1</div></div>

                <div class="col-2 pull-right">
                    <span class="icon-time icon-large cost-time">20 min</span> <span class="icon-dollar cost-money">99.99</span>
                </div>

                <div class="col-9 directions">
                    I am the very model of a modern major general -- I've information vegetable, animal, and mineral.
                    I know the kings of England and I quote the fights historical, from Marathon to Waterloo in order categorical.<br />
                    <br />
                    I'm very well acquainted, too, with matters mathematical.<br />
                    I understand equations, both the simple and quadratical.
                </div>
            </div>
            <div class="step clearfix">
                <div class="col-1"><div class="step-number">2</div></div>

                <div class="col-2 pull-right">
                    <span class="icon-time icon-large cost-time">20 min</span> <span class="icon-dollar cost-money">99.99</span>
                </div>

                <div class="col-9 directions">
                    I am the very model of a modern major general -- I've information vegetable, animal, and mineral.
                    I know the kings of England and I quote the fights historical, from Marathon to Waterloo in order categorical.<br />
                    <br />
                    I'm very well acquainted, too, with matters mathematical.<br />
                    I understand equations, both the simple and quadratical.
                </div>
            </div>
        </div>

        <div class="container text-center">
            <a class="btn btn-danger"><i class="icon-heart"></i> Add to Favorites</a>
            <a class="btn btn-primary"><i class="icon-share"></i> Share with others</a>
        </div>

    </div>
</div><!-- /.row -->



      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer class="footer-bar panel-footer">
      	<div class="footer-text">
        	<p class="pull-right"><a href="#">Back to top</a></p>
        	<p>&copy; 2013 Intuit Lab, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    	</div>
      </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>

    <!-- TODO: remove these -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>
  </body>
</html>