<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Biz Recipes</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="css/carousel.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="../static/css/carousel.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">Biz Recipes</a>
	          <form class="navbar-form pull-right">
	              <input type="text" class="form-control" placeholder="Search Recipes" autofocus="autofocus">
	              <button class="btn btn-primary glyphicon glyphicon-search" type="button"></button>
	          </form>
	          <div class="nav-collapse collapse">

	              <ul class="nav pull-right navbar-nav">
	                  <li><a href="#">Home</a></li>
	                  <li><a href="#about">About</a></li>
	                  <li><a href="#contact">Contact</a></li>
	              </ul>
	          </div>
	      </div><!-- container -->
	  </div>

    
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container search-results">
        <h3>Match Recipes <span class="badge">3</span></h3>
    <div class="list-group">
		<!--div class="panel-primary "><span class="label label-info">3</span> Recipes Found</div -->

    	<ul class="list-group">
		  <li class="list-group-item">

              <div class="container profile-heading">
                  <div class="pull-left">
                      <a href="/recipe/1"><h1 class="active">Trademark Recipe</h1></a>
                      <div class="by-line">by <a href="#">Submitty McLawyerton</a>, 0 views</div>
                  </div>
                  <div class="pull-right">
                      <div class="total-box total-time cost-time platinum-grad">
                          <i class="icon-time icon-2x"></i>
                          <label>45 min</label>
                      </div>
                      <div class="total-box total-money cost-money platinum-grad">
                          <i class="icon-dollar icon-2x"></i>
                          <label>Low</label>
                      </div>
                  </div>
              </div>

		  </li>

		  <li class="list-group-item">

              <div class="container profile-heading">
                  <div class="pull-left">
                      <a href="/recipe/2"><h1 class="active">Forming LLC Recipe</h1></a>
                      <div class="by-line">by <a href="#">The Monopoly Guy</a>, 0 views</div>

                  </div>
                  <div class="pull-right">
                      <div class="total-box total-time cost-time platinum-grad">
                          <i class="icon-time icon-2x"></i>
                          <label>20 yrs</label>
                      </div>
                      <div class="total-box total-money cost-money platinum-grad">
                          <i class="icon-dollar icon-2x"></i>
                          <label>FREE</label>
                      </div>
                  </div>
              </div>

		  </li>

		  <li class="list-group-item">

              <div class="container profile-heading">
                  <div class="pull-left">
                      <a href=""><h1 href="#" class="active">XXX Recipe</h1></a>
                      <div class="by-line">by <a href="#">Submitty McLawyerton</a>, 0 views</div>

                  </div>
                  <div class="pull-right">
                      <div class="total-box total-time cost-time platinum-grad">
                          <i class="icon-time icon-2x"></i>
                          <label>45 min</label>
                      </div>
                      <div class="total-box total-money cost-money platinum-grad">
                          <i class="icon-dollar icon-2x"></i>
                          <label>High</label>
                      </div>
                  </div>
              </div>

		  </li>
		</ul>
	</div><!-- search panel div -->     
    </div><!-- /.row -->




      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer class="footer-bar panel-footer">
      	<div class="footer-text">
        	<p class="pull-right"><a href="#">Back to top</a></p>
        	<p>&copy; 2013 <a href="https://intuitlabs.com/">Intuit Labs</a> &middot; 
        		<a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        	</p>
    	</div>
      </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>

    <!-- TODO: remove these when you done with mockup -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>
  </body>
</html>