<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OneStop</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link href="../static/css/carousel.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
    	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </button>
            <a class="navbar-brand" href="#">OneStop</a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
		  </div><!-- container -->
        </div>

    
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="search-box">
    	<!-- search input -->
		<div id="search" class="search-box-with-result">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Search Recipes" autofocus="autofocus">
		      <span class="input-group-btn">
		        <button class="btn btn-primary glyphicon glyphicon-search" type="button"></button>
		      </span>
		    </div><!-- /input-group -->
      	</div>

     
      
      <div class="search-box-block">
      	<div class="item active">
          <img data-src="holder.js/1500x500/auto/#777:#7a7a7a/text:recipes" alt="">
          <div class="container">
            <div class="carousel-caption">
            	
            </div>
          </div>
        </div>
        
        
      </div>
    
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
    <div class="list-group">
		<!--div class="panel-primary "><span class="label label-info">3</span> Recipes Found</div -->
		<a href="#" class="list-group-item active"><span class="label label-default">3</span> Recipes Found</a>
    	<ul class="list-group">
		  <li class="list-group-item">
			<a>Trademark Recipe</a>
			<div class="pull-right">
		  		<span class="badge">2034</span> Views
		  		<span></span>
		  		<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
		    </div>
		  </li>

		  <li class="list-group-item">
			<a>Forming LLC Recipe</a>
			<div class="pull-right">
		  		<span class="badge">1124</span> Views
		  		<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
		    	
			</div>
		  </li>

		  <li class="list-group-item">
			<a>Business Plan Recipe</a>
			<div class="pull-right">
		  		<span class="badge">1745</span> Views
		  		<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star"></span>
              	<span class="glyphicon glyphicon-star-empty"></span>
		    </div>
		  </li>
		</ul>
	</div><!-- search panel div -->     
    </div><!-- /.row -->




      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer class="footer-bar panel-footer">
      	<div class="footer-text">
        	<p class="pull-right"><a href="#">Back to top</a></p>
        	<p>&copy; 2013 Intuit Lab, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    	</div>
      </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>
  </body>
</html>